<footer
  class="w-full h-16 bg-customW-second dark:bg-customD-second shadow-2xl drop-shadow-2xl border-t-4 border-double border-customW-first dark:border-customD-first"
>
  <div class="grid grid-cols-1 lg:grid-cols-2 w-full h-full text-paletteD-four">
    <div class="flex justify-center items-center p-4">
      <div class="flex flex-row w-1/2 justify-around items-center">
        <a
          href="https://github.com/eagleheartangel"
          class="transition duration-300 transform delay-150 hover:scale-125 ease-in-out cursor-pointer"
        >
          <fa-icon
            class="text-paletteD-four hover:text-paletteD-three"
            [icon]="faGithub"
            size="lg"
          ></fa-icon>
        </a>

        <a
          href="https://www.linkedin.com/in/eagleangel"
          class="transition duration-300 transform delay-150 hover:scale-125 ease-in-out cursor-pointer"
          ><fa-icon
            class="text-paletteD-four hover:text-paletteD-three"
            [icon]="faLinkedin"
            size="lg"
          ></fa-icon
        ></a>
        <a
          href="https://www.instagram.com/imeagleangel/"
          class="transition duration-300 transform delay-150 hover:scale-125 ease-in-out cursor-pointer"
        >
          <fa-icon
            class="text-paletteD-four hover:text-paletteD-three"
            [icon]="faInstagram"
            size="lg"
          ></fa-icon>
        </a>
      </div>
    </div>
    <div
      class="flex justify-center items-center cursor-default p-4 bg-customW-second dark:bg-customD-second"
    >
      <p class="text-center">
        this proyect was created by
        <a class="text-customW font-light underline underline-offset-1"
          >@imeagleangel</a
        >
      </p>
    </div>
  </div>
</footer>
