<div
  class="w-[480px] m-10 mx-auto dark:bg-customD-second bg-customW-second p-9 rounded-3xl"
>
  <form [formGroup]="paymentForm" (ngSubmit)="pay()">
    <p class="my-3">Current credit card</p>
    <div
      class="w-[200px] h-[120px] shadow-2xl rounded-md border-2 border-gray-200/25 dark:bg-customD-first bg-[#3E92EB]"
    >
      <div class="mb-4 mx-4">
        <fa-icon
          class="relative top-3 dark:text-white text-white cursor-default"
          [icon]="faCcVisa"
          size="xl"
        ></fa-icon>
        <div class="mt-9">
          <p
            *ngIf="
              paymentForm.value.number && paymentForm.value.number.length > 0
            "
            class="truncate"
          >
            {{ paymentForm.value.number }}
          </p>
          <p *ngIf="!paymentForm.value.number">···· ···· ···· 3294</p>
          <p
            *ngIf="paymentForm.value.name && paymentForm.value.name.length > 0"
            class="truncate"
          >
            {{ paymentForm.value.name }}
          </p>
          <p *ngIf="!paymentForm.value.name">Howard Pinsky</p>
        </div>
      </div>
    </div>
    <p class="my-3">Name of card holder</p>
    <input
      class="w-full h-12 rounded-lg bg-[#126BC7] dark:bg-customD-first px-5"
      type="text"
      formControlName="name"
      maxlength="31"
    />
    <p
      *ngIf="isvalid('name')"
      class="dark:text-red-400 text-red-800 mb-4 mt-1 mx-auto"
    >
      {{ envErrormsg("name") }}
    </p>
    <p class="my-3">Credit card number</p>
    <div class="relative">
      <div
        class="w-14 h-10 rounded-md mt-1 bg-[#72B8FF] dark:bg-[#CA4E79] shadow-lg absolute right-8 z-30"
      ></div>
      <div
        class="w-14 h-10 rounded-md mt-1 bg-[#64ADFA] dark:bg-[#7A4069] shadow-lg absolute right-5 z-20"
      ></div>
      <div
        class="w-14 h-10 rounded-md mt-1 bg-[#4FA1F2] dark:bg-gray-700 shadow-lg absolute right-2 z-10"
      ></div>
      <input
        class="w-full h-12 rounded-lg shadow-2xl border-2 border-gray-200/25 bg-[#3E92EB] dark:bg-customD-first pl-5 pr-28"
        type="text"
        formControlName="number"
        maxlength="16"
      />
    </div>
    <p
      *ngIf="isvalid('number')"
      class="dark:text-red-400 text-red-800 mb-4 mt-1 mx-auto"
    >
      {{ envErrormsg("number") }}
    </p>
    <div class="grid grid-cols-2 gap-4 mt-4">
      <div>
        <p class="mb-2">Expiration</p>
        <input
          #input
          id="expirationInput"
          class="w-full h-12 rounded-lg bg-[#126BC7] dark:bg-customD-first px-5 text-center"
          type="text"
          formControlName="expiration"
          minlength="13"
          maxlength="13"
        />
        <p
          *ngIf="isvalid('expiration')"
          class="dark:text-red-400 text-red-800 mb-4 mt-1 mx-auto"
        >
          {{ envErrormsg("expiration") }}
        </p>
      </div>
      <div>
        <div class="flex flex-row items-center mb-2">
          <p>CVV&nbsp;</p>
          <img src="../../../../assets/info.png" class="w-3 h-3" />
        </div>
        <input
          class="w-full h-12 rounded-lg bg-[#126BC7] dark:bg-customD-first px-5"
          type="text"
          formControlName="cvv"
          minlength="3"
          maxlength="3"
        />
        <p
          *ngIf="isvalid('cvv')"
          class="dark:text-red-400 text-red-800 mb-4 mt-1 mx-auto"
        >
          {{ envErrormsg("cvv") }}
        </p>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-10">
      <button
        type="submit"
        [disabled]="paymentForm.pending"
        class="bg-white hover:bg-customW-first dark:bg-customD-four hover:dark:bg-customD-first text-[#1581ED] hover:text-white dark:text-customD-first hover:dark:text-customD-four transition duration-500 font-bold rounded py-2"
      >
        Make Payment
      </button>
      <button
        (click)="cancel()"
        class="border-2 transition duration-500 hover:bg-white hover:text-customW-second border-white dark:border-customD-four dark:hover:text-customD-first dark:hover:bg-customD-four font-bold rounded py-2"
        type="button"
      >
        Cancel
      </button>
      <!-- <div class="flex flex-row">
        <span>cvv:</span>
        <pre>{{ paymentForm.controls["cvv"].errors | json }}</pre>
      </div> -->
      <!-- <div class="flex flex-col">
        <div class="flex flex-row">
          <span>Valid:</span>
          <pre>{{ paymentForm.valid }}</pre>
        </div>

        <div class="flex flex-row">
          <span>Pristine:</span>
          <pre>{{ paymentForm.pristine }}</pre>
        </div>

        <div class="flex flex-row">
          <span>Touched:</span>
          <pre>{{ paymentForm.touched }}</pre>
        </div>

        <div class="flex flex-row">
          <span>values:</span>
          <pre>{{ paymentForm.value | json }}</pre>
        </div>

        <div class="flex flex-row">
          <span>name:</span>
          <pre>{{ paymentForm.controls["name"].errors | json }}</pre>
        </div>

        <div class="flex flex-row">
          <span>number:</span>
          <pre>{{ paymentForm.controls["number"].errors | json }}</pre>
        </div>

        <div class="flex flex-row">
          <span>expiration:</span>
          <pre>{{ paymentForm.controls["expiration"].errors | json }}</pre>
        </div>

        <div class="flex flex-row">
          <span>cvv:</span>
          <pre>{{ paymentForm.controls["cvv"].errors | json }}</pre>
        </div>
      </div> -->
    </div>
  </form>
</div>

<app-notification
  *ngIf="confirmScreen"
  (ok)="confirmationScreen()"
></app-notification>
